.ui.modal
  .header Header
  .content
    %p
  .actions
    .ui.approve.button Approve
    .ui.button Neutral
    .ui.cancel.button Cancel

= simple_form_for @ticket do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  -# = f.input :card_type
  .ui.selection.dropdown
    = f.input :card_type, as: :hidden
    .default.text Card Type
    %i.dropdown.icon
    .menu
      .item{"data-value" => "visa"}
        %i.visa.icon
        Visa
      .item{"data-value" => "amex"}
        %i.amex.icon
        American Express
      .item{"data-value" => "discover"}
        %i.discover.icon
        Discover
  = f.input :card_number
  = f.input :cvc, label: 'CVC'
  = f.input :expiration_date
  .actions
    = f.submit

-# = form_for(@ticket) do |f|
-#   - if @ticket.errors.any?
-#     #error_explanation
-#       %h2
-#         = pluralize(@ticket.errors.count, "error")
-#         prohibited this ticket from being saved:
-#       %ul
-#         - @ticket.errors.full_messages.each do |message|
-#           %li= message
-#   .field
-#     = f.label :movie_id
-#     %br/
-#     = f.number_field :movie_id
-#   .field
-#     = f.label :theater_id
-#     %br/
-#     = f.number_field :theater_id
-#   .actions
-#     = f.submit

:coffeescript
  $ ->
    window.onbeforeunload = ->
      return false
